.container {
    height: calc(100vh - 70px);
    margin-top: 70px;
}
.big2core.inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}
h3 {
    border: 5px solid #ddd;
    border-style: dashed solid;
    width: 180px;
    text-align: center;
    margin: 30px 0;
    font-size: 36px;
    justify-self: center;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}
.wrap {
    border: 20px solid #57b3ff;
    width: 100%;
    box-sizing: border-box;
    height: inherit;
    margin-top: 140px;
}
.wrap2 {
    border: 7px solid #fff;
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.prob-content {
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prob-text {
    width: 45%;
    height: 250px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.prob-text div {
    /* border: 5px solid #FFAD02; */
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #57b3ff;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.prob-img {
    width: 45%;
}
.prob-img img {
    width: 100%;
}
.sol-content, .sol-content2 {
    border: 5px solid #57b3ff;
    width: 80%;
    padding: 20px;
    display: flex;
    height: 150px;
    flex-wrap: wrap;
}
.sol-content p, .sol-content2 p {
    width: 90%;
    height: 50px;
    margin: 0;
}
.sol-content img, .sol-content2 img {
    width: 30px;
    height: 30px;
}
.sol-content2 {
    height: 250px;
}
.go-big2core {
    width: 50%;
    border: 5px solid #57b3ff;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.go-big2core button {
    border: 5px solid #fff;
    width: 200px;
    height: 100px;
    background-color: #FFAD02;
    font-size: 25px;
    margin-top: 15px;
}
.go-big2core button a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

@media screen and (max-width: 768px) {
    .big2core.inner {
        width: 100%;
        font-size: 18px;
    }
    .wrap {
        border: 15px solid #57b3ff;
    }
    .prob-content {
        width: 90%;
        flex-direction: column;
        height: inherit;
    }
    .prob-content > img {
        transform: rotate( 90deg );
    }
    .prob-text {
        width: 100%;
        padding: 5px;
        height: 150px;
    }
    .prob-text div {
        width: 100%;
        bottom: 0;
        left: 0;
        border: none;
    }
    .prob-img {
        width: 100%;
        height: auto;
    }
    .sol-content {
        height: 300px;
        margin-bottom: 50px;
    }
    .sol-content2 {
        height: 800px;
    }
    .sol-content p, .sol-content2 p {
        height: auto;
    }
    .sol-content img:not(:first-of-type), .sol-content2 img:not(:first-of-type) {
        display: none;
    }
    .go-big2core {
        width: 80%;
    }
}