footer {
    position: sticky;
    bottom: 0;
    height: 150px;
    background-color: #0009A0;
    width: 100%;
    color: #eee;
    padding-top: 30px;
    box-sizing: border-box;
}
footer .inner {
    display: flex;
}
.footer-logo {
    flex: 1;
    filter: grayscale(100%);
}
.footer-info {
    flex: 2;
}
.footer-info span {
    display: block;
}

@media screen and (max-width: 768px) {
    footer {
        height: 250px;
    }
    footer .inner {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    .footer-info span {
        font-size: 14px;
        padding: 10px;
    }
}