header {
    height: 70px;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}
.inner {
    width: 1280px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo {
    line-height: 70px;
    font-weight: 600;
    flex: 1;
}
.logo > a {
    color: rgb(26, 26, 112);
}
.menu {
    display: flex;
    position: relative;
    flex: 3;
}
.menu > li {
    width: calc(100% / 6);
    line-height: 70px;
    text-align: center;
}
.menu > li:hover > a, .submenu > li:hover > a {
    font-weight: 600;
    color: rgb(26, 26, 112);
}
.menu > li:hover > .submenu {
    background-color: #eee;
}
.submenu {
    background-color: #fff;
    width: inherit;
    height: 280px;
    background-color: #ddd;
    /* display: none; */
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    position: absolute;
    box-shadow: 1px 5px 5px -5px #ddd;
    /* full-width */
    /* left: 0;
    padding: 0.5em 1000em;
    margin: 0 -1000em;
    z-index: 101; */
}
/* .submenu li {
    width: 100%;
} */
.menu > li:first-child > .submenu {
    left: 0;
    padding: 0 640px;
    margin: 0 -640px;
}
.menu > li:last-child > .submenu {
    right: -200px;
    padding: 0 200px;
    margin: 0 -200px;
}