header {
    height: 70px;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}
.inner {
    width: 1280px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo {
    line-height: 70px;
    font-weight: 600;
    flex: 1;
}
.logo > a {
    color: rgb(26, 26, 112);
}
.menu {
    display: flex;
    position: relative;
    flex: 3;
}
.menu > li {
    width: calc(100% / 5);
    line-height: 70px;
    text-align: center;
}
.menu > li:hover > a, .submenu > li:hover > a {
    font-weight: 600;
    color: rgb(26, 26, 112);
    border-bottom: 2px solid rgb(26, 26, 112);
}
.menu > li:hover > .submenu {
    background-color: #f8f8f8;
}
.submenu {
    background-color: #fff;
    width: inherit;
    height: 280px;
    display: none;
    border: 1px solid rgba(26, 26, 112, 0.24);
    position: absolute;
    box-shadow: 1px 5px 5px -5px #ddd;
}
.menu > li:first-child > .submenu {
    left: 0;
    padding: 0 640px;
    margin: 0 -640px;
}
.menu > li:last-child > .submenu {
    right: -640px;
    padding: 0 640px;
    margin: 0 -640px;
}
.menu-btn{
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        height: auto;
    }
    header > .inner {
        width: 100%;
    }
    nav {
        flex-direction: column;
        height: inherit;
    }
    .menu {
        flex-direction: column;
        position: auto;
        display: none;
    }
    .menu.on {
        display: block;
    }
    .menu > li {
        width: 100%;
        border-bottom : 1px solid #f2f2f2;
        height: 70px;
        position: relative;
    }
    .menu > li:first-child > .submenu {
        left: 0;
        padding: 0;
        margin: 0;
    }
    .menu > li:last-child > .submenu {
        right: 0;
        padding: 0;
        margin: 0;
    }
    .submenu {
        height: auto;
        background-color: #f2f2f2;
        position: absolute;
        z-index: 100;
        top: 70px;
    }
    .submenu > li > a {
        height: 70px;
        display: block;
    }
    .menu-btn{
        width: 35px;
        height: 25px;
        position: absolute;
        right: 17px;
        top: 17px;
        display: block;
        cursor: pointer;
        margin-top: 5px;
    }
    .menu-btn span {
        background-color: #000;
        height: 1px;
        position: absolute;
        width: 100%;
        transition: 0.2s;
    }
    .menu-btn span:nth-child(1) {
        top: 0;
    }
    .menu-btn span:nth-child(2) {
        top: 50%;
    }
    .menu-btn span:nth-child(3) {
        top: 100%;
    }
    .menu-btn.active span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    .menu-btn.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-btn.active span:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
    }
}