.container {
    background-image: url("../images/mainimg.jpg");
    background-size: cover;
    height: 100vh;
}
.index.title {
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
}
.index.title .inner > h1 {
    font-size: 4em;
}
.index.title .inner > span {
    font-size: 1.5em;
    display: block;
}
@media screen and (max-width: 768px) {
    .container {
        background-position: center center;
        background-repeat: no-repeat;background-attachment: fixed;background-size: cover;
    }
    .index.title .inner {
        width: 100%;
        padding: 30px;
    }
    .index.title .inner > h1 {
        margin: 0;
        line-height: 1em;
    }
    .index.title .inner > h1, .title .inner > span {
        background-color: #dcfaffd2;
        mix-blend-mode: luminosity;
    }
    .index.title .inner > span {
        font-size: 1.2em;
        padding: 10px 0;
    }
}