.container {
    background: linear-gradient(to right, rgba(26, 26, 112, 0.589), rgba(48, 48, 138, 0.616)), url('../images/lab-main.jpg');
    background-size: cover;
    height: calc(100vh - 70px);
    margin-top: 70px;
}
.laboratory.inner {
    text-align: center;
    color: #fff;
}
.title {
    height: 200px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.title h1 {
    align-self: last baseline;
}
.about-lab {
    height: calc(100vh - 270px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.about-lab-text {
    box-sizing: border-box;
    border: 1px solid #fff;
    width: 380px;
    height: 400px;
    padding: 60px;
    background-color:rgba(26, 26, 112, 0.589);
}