.container {
    height: calc(100vh - 70px);
    margin-top: 70px;
}
.title {
    height: 200px;
    display: flex;
    width: 100%;
    justify-content:left;
}
.title > h1, .title > span {
    align-self: last baseline;
}
.title > span {
    margin-left: 20px;
    color: rgb(26, 26, 112);
    font-weight: 600;
}
hr {
    border: 2px solid rgb(26, 26, 112);
    margin-bottom: 40px;
}
.service-wrap {
    width: 100%;
    height: inherit;
}
.service-title {
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.service-title span {
    width: 100%;
    line-height: 80px;
    border: 1px solid rgb(26, 26, 112);
    background-color: rgb(250, 250, 255);
    cursor: pointer;
}
.service-title span.active {
    background-color: rgb(26, 26, 112);
    color: #fff;
}
.service-content-box {
    width: 100%;
    height: inherit;
}
.service-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.service-text {
    width: 500px;
}
.service-text span {
    display: block;
}
.service-text a {
    display: block;
    padding-top: 50px;
}
.service-img {
    width: 500px;
}
.service-img img {
    width: 400px;
}