.container {
    height: calc(100vh - 70px);
    margin-top: 70px;
}

.service-wrap {
    width: 100%;
    height: inherit;
}
.service-title {
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.service-title a {
    width: 100%;
    line-height: 80px;
    background-color: #eee;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    display: block;
}
.service-title a.active {
    background-color: rgb(26, 26, 112);
    color: #fff;
    background-color: rgb(73, 150, 238);
    color: #fff;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}
.service-title a:hover:not(:disabled) {
    background: rgb(73, 150, 238);
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}
.service-title a:disabled {
    cursor: auto;
    color: grey;
}
.service-content-box {
    width: 100%;
    height: inherit;
}
.service-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.service-text {
    width: 500px;
}
.service-text span {
    display: block;
}
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    margin-top: 50px;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 100px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.95);
}
.service-img {
    width: 500px;
}
.service-img img {
    width: 400px;
}

@media screen and (max-width: 768px) {
    .container {
        height: inherit;
        margin-top: 90px;
    }
    .title {
        height: 100px;
    }
    .title > h1 {
        font-size: 28px;
        width: 110px;
    }
    .title > span {
        font-size: 0.8rem;
    }
    .title > h1, .title > span {
        align-self: last baseline;
    }
    .service.inner {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
    .service-title {
        font-size: 0.9em;
    }
    .service-content {
        flex-direction: column;
        padding: 0;
    }
    .service-text {
        width: 100%;
    }
    .service-text > hr {
        display: none;
    }
    .service-img {
        width: 100%;
        text-align: center;
    }
    .service-img img {
        width: 90%;
    }
    .cta {
        float: right;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}